body { font-size: var(--font-size-body); }

@media(max-width: 992px) { h1 { font-size: 2rem; } }
@media(max-width: 768px) { h1 { font-size: 1.75rem; } }
@media(max-width: 576px) { h1 { font-size: 1.5rem; } }
